*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#form_section {
    width: 400px;
    margin: 20px;
    background-color: antiquewhite;
    
}

h1{
    margin: 20px;
}

.input label {
    display: block;
}

.input input {
    margin-block: 10px;
}

form#form_field {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}